*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.container1{
    text-align: center;
    width: 100%;
}
.heading1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 300;
    padding: 30px 0px;
}
.para1{
    font-size: 15px;
    font-weight: 200;
}
.header-img{
    border: 50px groove black;
    margin-top: 50px;
    width: auto;
    height: auto;
}
.conatiner2{
    margin-top: 50px;
}
.heading2{
    
}